img {
    border-radius: 10px;
    height: auto;
    width: 100%;
}

button {
    background-color: lightblue;
    color: black;
    border-color: lightblue;
    border-radius: 5px;
}

body {
    font-family: sans-serif;
}