img {
    border-radius: 10px;
    height: auto;
    width: 100%;
}

button {
    background-color: lightblue;
    color: black;
    border-color: lightblue;
    border-radius: 5px;
}

body {
    font-family: sans-serif;
    background-color: lightblue;

}

a {
    text-decoration: none;
    color: black;
}

.recipe-card {
    background-color: white;
    padding: 15px;
    border-radius: 10px;
    margin-bottom: 10px;

}

.nav-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
}

.nav-links {
    display: flex;
    gap: 10px;
    flex-grow: 1;
    justify-content: flex-end;
}
